<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1BLOG</title>
    <nav>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Cadastre-se</a>
        {% endif %}
    </nav>    
</head>
<body>
    <header>
        <h1>F1BLOG</h1>
        <nav>
            <a href="{% url 'posts_list' %}">Home</a>
            <a href="{% url 'posts_create' %}">Novo Post</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
